* {
    background-color: #1A1A1A !important;
    color: #EEEEEE !important;
}

a:link,
a:visited {
    text-decoration: underline !important;
}

a:hover,
a:actice,
a:focus {
    text-decoration: none !important;
}
