:root {
    --bkgd-color: #1A1A1A;
    --text-color: #EEEEEE;
}

:not(.context-list-toggle-box, .Grouping-styles__overlay, .Grouping-styles__withImage, .course-color-block, .course-list-favorite-icon, .icon-star) {
    background-color: var(--bkgd-color) !important;
    color: var(--text-color) !important;
}

.ic-app-header__main-navigation,
.ic-app-header__menu-list-link,
.menu-item-icon-container,
.menu-item__text,
.ic-icon-svg,
.ic-icon-svg--dashboard,
.ic-app-header__menu-list-link {
    background-color: #2D3842 !important;
}

.StickyButton-styles__layout {
    background-color: #215479 !important;
}

.Button.Button--primary.submit_assignment_link,
.btn.btn-primary {
    background-color: #2E6FA2 !important;
}

.active {
    border-left-color: var(--text-color) !important;
    border-left-style: solid !important;
    border-left-width: medium !important;
}

.PlannerItem-styles__root.planner-item,
.Grouping-styles__overlay,
.Grouping-styles__withImage {
    border-color: #555555 !important;
    border-style: solid !important;
    border-width: thin !important;
}

::-webkit-scrollbar {
    width: 10px !important;
    height: 10px !important;
}

::-webkit-scrollbar-track {
    background: #1A1A1A !important;
    border-radius: 8px !important;
}

::-webkit-scrollbar-thumb {
    background: #555555 !important;
    border-radius: 8px !important;
}

::-webkit-scrollbar-thumb:hover {
    background: #888888 !important;
}
